{% extends 'base.html' %}
{% block title %}商品 - {% endblock %}
{% block nav %}

<li class="nav-item" style="text-align:center;">
    <a class="nav-link {% if  index  %} active{% else %}{% endif %}" href="{% url 'cpmauth:index' %}"> 权限首页</a>
</li>  
<li class="nav-item" style="text-align:center;">
<a class="nav-link {% if  group  %} active{% else %}{% endif %}" href="{% url 'cpmauth:group' %}">
    分组管理</a>
</li>
<li class="nav-item" style="text-align:center;">
<a class="nav-link " href="#">
    权限控制</a>
</li>


{% endblock %}

{% block stylesheet %}
<style>
.top-bar{
    height: 35px;
    /* background-color: #fff; */
    padding-top: 10px;

    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
}
.bg-tabel-cpm{

    background-color: #c5d3ad;
}
</style>
{% endblock stylesheet %}


{% block content %}
    
<div class="container-fluid" >
    <!-- top -->
    <div class="top-bar" >
        <div class=" pull-left text-left" >{{msg}}</div>
    </div>

    {% block basic_content %}
    
    {% endblock basic_content %}

</div>
{% endblock %}


{% block modal %}

{% endblock modal %}


{% block js %}
<script src="{% static 'js/auth/auth.js' %}"></script>

    {% block basic_js %}


    {% endblock basic_js %}
{% endblock js %}



