{% extends "select/product/product_base.html" %}
{% block stylesheet %}



{% endblock stylesheet %}

{% block content %}
<!-- <p>{{ msg }}</p> -->
<link href="{% static 'css/product/product_list.css' %}" rel="stylesheet"> 


<div class="container-fluid">
    <div class="top-bar">
        <div class=" pull-left text-left">销售管理</div>
        <!-- <div class="pull-right">为必填选项</div> -->
    </div>
    <form action="" method="POST">
        {% csrf_token %}
        <!-- 基本信息 start-->
        <div class="cpm-product-basic">
            <div class="second-bar text-left">
                条件查询
            </div>
            <div class="container-fluid">
                <div class="row col-lg-4 pull-left text-center cpm-width">
                    <label class="col-lg-4 col-form-label mr-0 cpm-lb" for="pl-code">编码</label>
                    <div class="col-lg-8 cpm-lb-div">
                        <input class="form-control cpm-input" id="pl-code" type="text" name="code" placeholder="" value="{{code}}" autocomplete="off">
                    </div>
                </div>
                <div class="row col-lg-4 pull-left text-center cpm-width">
                    <label class="col-lg-4 col-form-label mr-0 cpm-lb" for="pl-name">名称</label>
                    <div class="col-lg-8 cpm-lb-div">
                        <input class="form-control cpm-input" id="pl-name" type="text" name="name" placeholder="" value="{{name}}" autocomplete="off">
                    </div>
                </div>
                <div class="row col-lg-4 pull-left text-center cpm-width">
                    <label class="col-lg-4 col-form-label mr-0 cpm-lb" for="pl-pinlei">品类</label>
                    <div class="col-lg-8 cpm-lb-div">
                        <input class="form-control cpm-input" id="pl-pinlei" type="text" name="pinlei" placeholder="" value="{{pinlei}}" autocomplete="off">
                    </div>
                </div>

                <div class="row col-lg-4 pull-left text-center cpm-width">
                    <label class="col-lg-4 col-form-label mr-0 cpm-lb" for="pl-charger">负责人</label>
                    <div class="col-lg-8 cpm-lb-div">

                          <select class="form-control cpm-input " name="charger" id="pl-charger" data-raw_id="{{good.chargers.id}}">
                                <option value="" >------</option>
                            {% for charger in chargers_all %}
                                <option value="{{charger.id}}" {% if chargers == charger.id %} selected {% endif %}>{{charger.extension.name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <!--  -->

                    <div class="row col-lg-4 pull-left text-center cpm-width">
                        <label class="col-lg-4 col-form-label mr-0 cpm-lb" for="pl-tag-jibie">级别</label>
                        <div class="col-lg-8 cpm-lb-div">
                            <select class="form-control cpm-input " name="jibie" id="pl-tag-jibie">
                                    <option value="" {% if jibie == '' %} selected {% endif %}>------</option>
                                    <option value="0" {% if jibie == '0' %} selected {% endif %} >普通</option>
                                    <option value="1" {% if jibie == '1' %} selected {% endif %}>核心</option>
                                    <option value="2" {% if jibie == '2' %} selected {% endif %}>重点</option>
                                </select>
                        </div>
                    </div>

                    <div class="row col-lg-4 pull-left text-center cpm-width">
                        <label class="col-lg-4 col-form-label mr-0 cpm-lb" for="pl-supplier">供应商</label>
                        <div class="col-lg-8 cpm-lb-div">
                            <input type="text" name="supplier" placeholder="" class="form-control cpm-input" id="pl-supplier"onclick="ProductAddModelOpenEvent(this)" readonly value="{{suppiler_val}}" data-id="{{suppliers}}">
                        </div>
                    </div>
       
                    <div class="row col-lg-4 pull-left text-center cpm-width">
                        <label class="col-lg-4 col-form-label mr-0 cpm-lb" for="pl-ruku_start">入库开始日期</label>
                        <div class="col-lg-8 cpm-lb-div">
                            <input type="text" name="start" placeholder="" class="form-control cpm-input" id="pl-ruku_start" readonly value="{{ruku_start}}">
                        </div>
                    </div>
                    <div class="row col-lg-4 pull-left text-center cpm-width">
                        <label class="col-lg-4 col-form-label mr-0 cpm-lb" for="pl-ruku_end">入库结束日期</label>
                        <div class="col-lg-8 cpm-lb-div">
                            <input type="text" name="end" placeholder="" class="form-control cpm-input" id="pl-ruku_end"  readonly value="{{ruku_end}}">
                        </div>
                    </div>

                    <div class="row col-lg-4 pull-left text-center cpm-width">
                        <label class="col-lg-4 col-form-label mr-0 cpm-lb" for="pl-ruku_state">入库状态</label>
                        <div class="col-lg-8 cpm-lb-div">
                            <select class="form-control cpm-input " name="mk-state" id="pl-ruku_state">
                                    <option value="" >------</option>
                                    {% for ruku_stat in ruku_state_option %}
                                        <option value="{{ruku_stat.0}}" {% if  ruku_state == ruku_stat.0 %}selected {% endif %}>{{ruku_stat.1}}</option>
                                    {% endfor %}
                                </select>
                        </div>
                    </div>
       
                    <div class="row col-lg-4 pull-left text-center cpm-width">
                        <label class="col-lg-4 col-form-label mr-0 cpm-lb" for="pl-zhizuo_start">制作开始日期</label>
                        <div class="col-lg-8 cpm-lb-div">
                            <input type="text" name="start" placeholder="" class="form-control cpm-input" id="pl-zhizuo_start" readonly value="{{zhizuo_start}}">
                        </div>
                    </div>
                    <div class="row col-lg-4 pull-left text-center cpm-width">
                        <label class="col-lg-4 col-form-label mr-0 cpm-lb" for="pl-zhizuo_end">制作结束日期</label>
                        <div class="col-lg-8 cpm-lb-div">
                            <input type="text" name="end" placeholder="" class="form-control cpm-input" id="pl-zhizuo_end"  readonly value="{{zhizuo_end}}">
                        </div>
                    </div>

                    <div class="row col-lg-4 pull-left text-center cpm-width">
                        <label class="col-lg-4 col-form-label mr-0 cpm-lb" for="pl-zhizuo_state">制作状态</label>
                        <div class="col-lg-8 cpm-lb-div">
                            <select class="form-control cpm-input " name="" id="pl-zhizuo_state">
                                    <option value="" >------</option>
                                    {% for stat in zhizuo_state_option %}
                                        <option value="{{stat.0}}"  {% if  zhizuo_state == stat.0 %}selected {% endif %}>{{stat.1}}</option>
                                     
                                    {% endfor %}
                                </select>
                        </div>
                    </div>
                    <div class="row col-lg-4 pull-left text-center cpm-width">
                        <label class="col-lg-4 col-form-label mr-0 cpm-lb" for="pl-un_shop">未上架店铺</label>
                        <div class="col-lg-8 cpm-lb-div">
    
                              <select class="form-control cpm-input " name="charger" id="pl-un_shop" data-raw_id="{{good.chargers.id}}">
                                    <option value="" >------</option>
                                    {% for shop in shops %}
                                        <option value="{{shop.id}}" {% if un_shop == shop.id %} selected {% endif %}>{{shop.name}}</option>
                                    {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="row col-lg-4 pull-left text-center cpm-width">
                        <label class="col-lg-4 col-form-label mr-0 cpm-lb" for="pl-do_shop">已上架店铺</label>
                        <div class="col-lg-8 cpm-lb-div">
    
                              <select class="form-control cpm-input " name="charger" id="pl-do_shop">
                                    <option value="" >------</option>
                                {% for shop in shops %}
                                    <option value="{{shop.id}}" {% if do_shop == shop.id %} selected {% endif %}>{{shop.name}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    
                    <div class="row col-lg-4 pull-left text-center cpm-width">
                        <label class="col-lg-4 col-form-label mr-0 cpm-lb" for="pl-never_shangjia">未上过架</label>
                        <div class="col-lg-8 cpm-lb-div text-left">
    
                              <input class="" type="checkbox" name="charger" id="pl-never_shangjia" {% if never_shangjia == '1' %} checked="1" {% endif %}>
                        </div>
                    </div>
                    
            </div>  
        </div>

        <!-- 基本信息 end-->
        <!-- 标签属性 start-->
        
        <!-- 标签属性 end-->
            <!-- 三个按钮　查询　重置　扩展 -->
        <div class="container-fluid">
            <span class="btn btn-success " onclick="removeAllQueryConditions(this)" data-query-url="{{query_url}}">重置</span>
            <span class="btn btn-success " id="queryBtn" onclick="exeShangjiaQuery(this)" data-query-url="{{query_url}}">查询</span>
            <span class="btn btn-success " id="exportCSV" data-flag="0" onclick="exportCSV(this)" data-query-url="{{query_url}}">导出</span>
        </div >
    </form>  
    
        <!-- SKU start-->
        <div class="cpm-product-basic" id="cpm-product-new-product">
            <div class="second-bar text-center font-2xl">
                    上架管理
            </div>
            <div class="container-fluid">
                
                <table class="table table-responsive-sm table-bordered font-sm table-hover table-condensed cpmTable" id="myTable">
                    <thead class="bg-tabel-cpm">
                        <tr>
                            <th class="text-center">缩略图</th>
                            <th class="text-center">产品编码</th>
                            <th class="text-center">产品名称/规格</th>
                            <th class="text-center">品类</th>
                            <th class="text-center">产品负责人</th>
                            <th class="text-center">级别</th>
                            <th class="text-center">供应商</th>
                            <th class="text-center">创建日期</th>
                            <th class="text-center">采购日期</th>
                            <th class="text-center">入库日期</th>
                            <th class="text-center">入库状态</th>
                            <th class="text-center">制作状态</th>
                            <th class="text-center">已上架店铺</th>
                            <th class="text-center">操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in items %}
                        <tr data-good_id="{{item.id}}" class="good_id">
                            <td class="text-center">
                                
                                <!-- 后台判断是否需要出现这个图标 -->

                            </td>
                            <td class="text-center">{{item.code}}
                            </td>
                            <td class="text-center">{{item.name}}</td>
                            <td class="text-center">{{item.cate.name}}</td>
                            <td class="text-center">
                                {% for  d in  item.chargers %}
                                    {{d.extension.name}}&nbsp;
                                {% endfor %}
                            </td>
                            <td class="text-center">{{item.get_jibie_display}}</td>
                            <td class="text-center">
                                {% for  d in  item.suppliers %}
                                    {{d.name}}&nbsp;
                                {% endfor %}
                            </td>
                            <td class="text-center">{{item.created_at}}</td>
                            <td class="text-center">{{item.caigou.created_at}}</td>
                            <td class="text-center">{{item.ruku.created_at}}</td>
                            <td class="text-center">{{item.ruku.get_result_display}}</td>
                            <td class="text-center">{{item.mgzz_ckeck.get_mk_state_display}}</td>
                            <td class="text-center"  data-container="body" data-toggle="popover" data-placement="top" data-content="{% for sj  in item.shops_shangjia  %}{{sj.name}},{% endfor %}"  onmouseenter="shangjiaShopExpend(this)" onmouseleave="shangjiaShopReduce(this)">{% for sj  in item.shops_shangjia  %}{{sj.sub_name}},{% endfor %}</td>
                            
                            <td  class="text-center">
                                {% if  item.state_sale == 11 %}
                                <a href="javascript:void(0)" onclick="reshangjiaModalShowBtn(this)" data-id="{{item.id}}" data-code="{{item.code}}"data-name="{{item.name}}" data-is_multi_export="{{item.is_multi_export}}">修改</a>
                                {% else %}
                                    {% if item.mgzz_ckeck.mk_state == 3  %}
                                        {% if  item.ruku.result == 0 %}
                                        <a href="javascript:void(0)" onclick="shangjiaModalShowBtn(this)" data-id="{{item.id}}" data-code="{{item.code}}"data-name="{{item.name}}" >
                                            上架
                                        </a>
                                        {% endif %}
                                    {% endif %}
                                    <!-- 批量导入的产品状态已上架,这里显示可以上架 
                                    {% if item.is_multi_export %}
                                        <a href="javascript:void(0)" onclick="shangjiaModalShowBtn(this)" data-id="{{item.id}}" data-code="{{item.code}}"data-name="{{item.name}}" >
                                            上架
                                        </a>
                                    {% else %}
                                    {% endif %}-->
                                
                                {% endif %}
                            </td>
                        </tr>

                        {% endfor %}
                        <!-- 这一行固定 -->
      
                    </tbody>
                </table>
            </div>  
        </div>
   
</div>
{% include 'page.html' %}
{% endblock content %}
{% block modal %}
        <div class="modal" id="ProductListMultiSelectModel" aria-hidden="true" >
            <div class="modal-dialog">
                <div class="modal-content">
                <div class="modal-header">
                     <h4 class="modal-title" id="modalTitleQuery"></h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <input type="hidden" name="" value="" id="ProductQueryModelHiddenInput">
                </div>
                <div class="modal-body">
                        <!-- modal start -->
                <div class="row">
                    <div class="col-sm-5">
                        <select name="from" id="multiselect" class="form-control" size="8" multiple="multiple">
                        </select>
                    </div>
                    
                    <div class="col-sm-2">
                        <button type="button" id="multiselect_rightAll" class="btn btn-block"><i class="glyphicon glyphicon-forward"></i></button>
                        <button type="button" id="multiselect_rightSelected" class="btn btn-block"><i class="glyphicon glyphicon-chevron-right"></i></button>
                        <button type="button" id="multiselect_leftSelected" class="btn btn-block"><i class="glyphicon glyphicon-chevron-left"></i></button>
                        <button type="button" id="multiselect_leftAll" class="btn btn-block"><i class="glyphicon glyphicon-backward"></i></button>
                    </div>
                    
                    <div class="col-sm-5">
                        <select name="to" id="multiselect_to" class="form-control" size="8" multiple="multiple"></select>
                    </div>
                </div>
                <!-- modal end -->
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary" onclick=ProductAddModelCloseEvent()>保存</button>
                </div>
                </div>
            </div>
        </div>


<!-- 上架弹框 -->
<div class="modal bs-example-modal-lg" id="shangjiaModal" aria-hidden="true" >
    <div class="modal-dialog modal-lg" >
        <div class="modal-content">
            <div class="modal-header txt-center">
                <h4 class="modal-title " id="shangjiamodalTitleQuery">产品店铺上架操作 &nbsp;&nbsp;&nbsp;</h4>
                <span id="modalTitleshangjiaAlert" class="text-danger"></span>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                    <div class="form-group row col-lg-6">
                        <label class="col-md-3 col-form-label label_shangjia" for="shangjiaGoodCode"> <span class="text-danger"></span>产品编码</label>
                        <div class="col-md-9">
                                <input type="hidden" name="good_id" value="" id="shangjiaGoodId">
                                <input  class="form-control" type="text" name="good_code" value="" id="shangjiaGoodCode" readonly>
                            <span class="help-block text-danger alertMsg"></span>
                        </div>
                    </div>
                    <div class="form-group row col-lg-6">
                        <label class="col-md-3 col-form-label label_shangjia" for="shangjiaGoodName"> <span class="text-danger"></span>产品名称</label>
                        <div class="col-md-9">
                                <input  class="form-control" type="text" name="good_code" value="" id="shangjiaGoodName" readonly>
                            <span class="help-block text-danger alertMsg"></span>
                        </div>
                    </div>

                    <!-- 表格部分 -->
                    <table class="table table-responsive-sm table-bordered font-sm" id="cpm-product-new-product-shangjia">
                            <thead class="bg-tabel-cpm">
                                <tr id="theadCpm">
                                    
                                </tr>
                            </thead>
                            <tbody id="tbodyCpm">

                            </tbody>
                    </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <input type="hidden" name="" id="checkIsEditOrAdd" value="0">
                <button type="button" class="btn btn-primary" onclick=shangjiaModalClose() id="shangjiaButtonComfirm">确认</button>
            </div>
        </div>
    </div>
</div>

{% endblock modal%}
{% block product_js %}
<script src="{% static 'js/sale/product_shangjia.js' %}"></script>
{% endblock product_js %}